build/
.DS_Store
Rendu.wiki/
/tools/
ressources/spheres/
Debug/
Release/
x64/
.vs/
*.VC.db
*.user
ext/
*.xcuserstate
*/xcuserdata/*
binaries/
config.ini
resources.zip
src/internal/
resources/internal/
resources/additional/